# Auto detect text files and perform LF normalization
* -text

# Custom for Visual Studio
*.cxx    diff=cpp
*.cpp    diff=cpp
*.c      diff=cpp
*.h      diff=cpp
*.hxx    diff=cpp
*.hpp    diff=cpp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.txt	diff=astextplain
*.xml	diff=astextplain
*.manifest diff=astextplain
*.doc	diff=astextplain
*.DOC	diff=astextplain
*.docx	diff=astextplain
*.DOCX	diff=astextplain
*.dot	diff=astextplain
*.DOT	diff=astextplain
*.pdf	diff=astextplain
*.PDF	diff=astextplain
*.rtf	diff=astextplain
*.RTF	diff=astextplain
*.rc	diff=astextplain
